@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family: "Nunito", sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
ion-icon{
    color:#fff;
    font-size:1.5rem;
}
.link_icons ion-icon{
    font-size: 2rem;
    color: rgba(255,255,255,.2);
}